{% extends "base.html" %}
{% block content %}

  <h2>Change Password</h2>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <form method="post">
    <label for="current_password">Current Password</label>
    <input type="password" id="current_password" name="current_password" required>
    <label for="new_password">New Password</label>
    <input type="password" id="new_password" name="new_password" required>
    <input type="submit" class="btn btn-primary" value="Update">
  </form>
{% endblock %}
