{% extends 'base.html' %}

{% block content %}
    <h1>Edit your profile</h1>
    <form action="{{ url_for('edit_profile') }}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ current_user.username }}"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ current_user.email }}"><br><br>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <h4><a class="nav-link" href="{{url_for('change_password')}}">Change password</a></h4>
{% endblock %}
